<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AmazonChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./log/app" />
      <datePattern value=".yyyy-MM-dd'.log'" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="TestAppender" />
    </root>
  </log4net>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
      <AmazonChecker.Properties.Settings>
          <setting name="PathFileExcel" serializeAs="String">
              <value />
          </setting>
          <setting name="LinkGoogleSheet" serializeAs="String">
              <value />
          </setting>
          <setting name="IsRunningExcel" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="IsShowBrowser" serializeAs="String">
              <value>False</value>
          </setting>
      </AmazonChecker.Properties.Settings>
  </userSettings>
</configuration>